{% extends 'base.html.twig' %}

{% block breadcumb %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/">Home</a> 
    </li>
    <li>{%trans%}Configuration{%endtrans%}</li>
    <li><a href="/admin/wei">ModWEI</a></li>
    <li><a href="#">{%trans%}Edit{%endtrans%}</a></li>
</ul>

{% endblock breadcumb %}

{% block body %}
    <div class="row">
        
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h1>{%trans%}MODWEI edit{%endtrans%}</h1>

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="{%trans%}Edit{%endtrans%}" />
            {{ form_end(edit_form) }}
            <br/>
             <a href="{{ path('admin_wei_index') }}"><i class="icon-circle-arrow-left"></i> {%trans%}Back to the list{%endtrans%}</a>
        </div>
    </div>
   

{% endblock %}
