{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <h1>{%trans%}Notification list creation{%endtrans%}</h1>
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5">
            
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="{%trans%}Create{%endtrans%}" />
            {{ form_end(form) }}
        </div>
    </div
    <br/><br/>
    <a href="{{ path('data_notificationlist_index') }}"><i class="fa fa-caret-square-o-left"></i> {%trans%}Back to the list{%endtrans%}</a>

</div>
{% endblock %}
